<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rasetech.java9.infrastructure.mapper.CoffeeMapper">
    <select id="findAll" resultType="com.rasetech.java9.infrastructure.entity.Coffee">
        SELECT
            *
        FROM
            coffees
        ORDER BY
            id
    </select>
    <select id="findById" resultType="com.rasetech.java9.infrastructure.entity.Coffee">
        SELECT
            *
        FROM
            coffees
        WHERE
            id = #{id}
    </select>
    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.rasetech.java9.infrastructure.entity.Coffee">
        INSERT INTO coffees (productName, countryOfOrigin, degreeOfRoasting, aroma, acidity, bitterTaste, sweetTaste, rich, priceOf100g, priceOf200g)
        VALUES (#{productName}, #{countryOfOrigin}, #{degreeOfRoasting}, #{aroma}, #{acidity}, #{bitterTaste}, #{sweetTaste}, #{rich}, #{priceOf100g}, #{priceOf200g})
    </insert>
    <update id="update" >
        UPDATE coffees
        SET
        productName = #{coffee.productName},
        countryOfOrigin = #{coffee.countryOfOrigin},
        degreeOfRoasting = #{coffee.degreeOfRoasting},
        aroma = #{coffee.aroma},
        acidity = #{coffee.acidity},
        bitterTaste = #{coffee.bitterTaste},
        sweetTaste = #{coffee.sweetTaste},
        rich = #{coffee.rich},
        priceOf100g = #{coffee.priceOf100g},
        priceOf200g = #{coffee.priceOf200g}
        WHERE
        id = #{id}
    </update>
    <delete id="delete">
        DELETE
        FROM
            coffees
        WHERE
            id = #{id}
    </delete>
</mapper>
